<!doctype html>
<html lang="ru">
<head>
<meta charset="utf-8">
{% load static %}
<!-- disable iPhone inital scale -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Шляпа [{{ player.name }}]</title>
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script type="text/javascript" src="{% static 'hat/hat.js' %}"></script>
<!-- main css -->
<link href="{% static 'hat/style.css' %}"  rel="stylesheet" type="text/css">
<!-- media queries css -->
<link href="{% static 'hat/media-queries.css' %}"  rel="stylesheet" type="text/css">
</head>
<body>
<script>
  var game_state = {{ game.state }};
  var turn_number = {{ game.turn_number }};
  var grades = {{ game.cur_player.grades }};
{% if game.state == 1 %}
  $("body").css("background-color", "#003333");//зеленый
{% endif %}
{% if game.state == 2 %}
  $("body").css("background-color", "#4d0424");//фиолет
{% endif %}
{% if game.state == 3 %}
  $("body").css("background-color", "#660000");//красный
{% endif %}
{% if game.state > 3 %}
  $("body").css("background-color", "#663300");//коричневый
{% endif %}

//let audio = new Audio('{% static 'hat/gong.mp3' %}'); 
//audio.play();
</script>

<div id="pagewrap">
	<header id="header">
		<hgroup>
			<h1>Шляпа №{{ game.id }} (я {{ player.name }})</h1>
			<h2>{{ game.round_name }}<br>
      Тянет слова <span id="cur_player">{{ game.cur_player.name }}</span></h2>
		</hgroup>
  </header>	

	<div id="content">
		<article class="post clearfix">
			<header>
{% if game.timer %}
      <progress id="timer" max="100" value="{{ game.progress }}">Загружено на <span id="value">25</span>%</progress>
{% endif %}
			</header>
			<figure class="post-image"> 
			</figure>			

{% if player.HasTurn %}
<form id="form" action="{% url 'hat:pull' game.id %}" method="post" onsubmit="$('#action').hide(); $('#action2').show();">
  {% csrf_token %}
  {% if player.cur_word %}
    <div id="word"><span>{{ player.cur_word.word }}</span></div>
    <button type="submit" id="action" name="action" value="match">Угадал</button>
  {% else %}
    <button type="submit" id="action" name="action" value="turn">Выбрать слово</button>
  {% endif %}
    <button disabled type=button id="action2" style="display: none">Жди...</button>
{% endif %}

{% if game.player_set.count %}
    <table id='result'>
    <tr><th>Команда</th><th>Очки</th></tr>
    {% for command in commands_list %}
        <tr><td>{{ command.0 }} + {{ command.1 }}</td><td>{{ command.2 }}</td></tr>
    {% endfor %}
    </table>
{% else %}
    <p>Нет игроков.</p>
{% endif %}

{% if player.HasTurn %}
<!-- 
{% if player.cur_word %}
<button type="submit" name="action" value="mismatch">Сдаюсь</button>
{% endif %}
 -->     
</form>
{% endif %}

		</article>

{% if not player.HasTurn %}
{% if history_word %}
    <div>Последнее угаданное:</div>
    <div id="historyword"><span>{{ history_word }}</span></div>
    <div id="historyplayer">({{ history_player }})</div>
{% endif %}
{% endif %}
    
	</div>
	<!-- /#content --> 
	
<!-- 
	<aside id="sidebar">
		<section class="widget">
			<h4 class="widgettitle">Sidebar</h4>
			<ul>
				<li><a href="#">WordPress</a> (3)</li>
				<li><a href="#">Design</a> (23)</li>
				<li><a href="#">Design </a>(18)</li>
			</ul>
		</section>
	</aside>
 -->     
  
	<footer id="footer">
		<p>Здесь был <a href="mailto:gubanov-alexey@yandex.ru?subject=Вопрос по игре Шляпа">Губанов Алексей</a>!! <a href="http://slavonicpro.ru">Slavonic</a></p>
	</footer>
	
</div>
<!-- /#pagewrap -->

</body>
</html>