<!doctype html>
<html lang="ru">
<head>
<meta charset="utf-8">
{% load static %}
<!-- disable iPhone inital scale -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Шляпа</title>
<!-- main css -->
<link href="{% static 'hat/style.css' %}"  rel="stylesheet" type="text/css">
<!-- media queries css -->
<link href="{% static 'hat/media-queries.css' %}"  rel="stylesheet" type="text/css">
</head>
<body>
<script>
  $("body").css("background-color", "#663300");//коричневый
</script>

<div id="pagewrap">
	<header id="header">
		<hgroup>
			<h1>Шляпа №{{ game.id }}</h1>
			<h2>{{ game.round_name }}
      </h2>
		</hgroup>
  </header>	

	<div id="content">
		<article class="post clearfix">
			<header>
			</header>
			<figure class="post-image"> 
			</figure>			

{% if game.player_set.count %}
    <table id='result'>
    <tr><th>Команда</th><th>Очки</th></tr>
    {% for command in commands_list %}
        <tr><td>{{ command.0 }} + {{ command.1 }}</td><td>{{ command.2 }}</td></tr>
    {% endfor %}
    </table>
{% endif %}

		</article>
    
 <button type="button" onclick="location.href='{% url 'hat:new' %}';">Сыграть еще раз</button>

	</div>
	<!-- /#content --> 
	
	<footer id="footer">
		<p>Здесь был Губанов Алексей!! <a href="http://slavonicpro.ru">Slavonic</a></p>
	</footer>
	
</div>
<!-- /#pagewrap -->

</body>
</html>