<!doctype html>
<html lang="ru">
<head>
<meta charset="utf-8">
{% load static %}
<!-- disable iPhone inital scale -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Шляпа [{{ player.name }}]</title>
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script type="text/javascript" src="{% static 'hat/hat.js' %}"></script>
<!-- main css -->
<link href="{% static 'hat/style.css' %}"  rel="stylesheet" type="text/css">
<!-- media queries css -->
<link href="{% static 'hat/media-queries.css' %}"  rel="stylesheet" type="text/css">
</head>
<body>
<script>
  var game_state = {{ game.state }};
  var turn_number = {{ game.turn_number }};
  var grades = {{ game.cur_player.grades }};
</script>

<div id="pagewrap">
	<header id="header">
		<hgroup>
			<h1>Шляпа №{{ game.id }} (я {{ player.name }})</h1>
			<h2>{{ game.round_name }}
{% if not game.IsOver  %}
			<br>Тянет слова {{ game.cur_player.name }}
{% endif %}
      </h2>
		</hgroup>
  </header>	

	<div id="content">
		<article class="post clearfix">
			<header>
{% if game.timer %}
      <progress id="timer" max="100" value="{{ game.progress }}">Загружено на <span id="value">25</span>%</progress>
{% endif %}
			</header>
			<figure class="post-image"> 
			</figure>			

{% if player.HasTurn %}
<form id="form" action="{% url 'hat:pull' game.id %}" method="post">
  {% csrf_token %}
  {% if player.cur_word %}
    <div id="word">{{ player.cur_word.word }}</div>
    <button type="submit" name="action" value="match">Угадал</button>
  {% else %}
    <button type="submit" name="action" value="turn">Выбрать слово</button>
  {% endif %}
{% endif %}

{% if game.player_set.count %}
    <table id='result'>
    <tr><th>Команда</th><th>Очки</th></tr>
    {% for command in commands_list %}
        <tr><td>{{ command.0 }} + {{ command.1 }}</td><td>{{ command.2 }}</td></tr>
    {% endfor %}
    </table>
{% else %}
    <p>Нет игроков.</p>
{% endif %}

{% if player.HasTurn %}
{% if player.cur_word %}
<button type="submit" name="action" value="mismatch">Сдаюсь</button>
{% endif %}
</form>
{% endif %}

		</article>
    
{% if game.IsOver  %}
 <button type="button" onclick="location.href='{% url 'hat:new' %}';">Сыграть еще раз</button>
{% endif %}

	</div>
	<!-- /#content --> 
	
<!-- 
	<aside id="sidebar">
		<section class="widget">
			<h4 class="widgettitle">Sidebar</h4>
			<ul>
				<li><a href="#">WordPress</a> (3)</li>
				<li><a href="#">Design</a> (23)</li>
				<li><a href="#">Design </a>(18)</li>
			</ul>
		</section>
	</aside>
 -->     

	<footer id="footer">
		<p>Здесь был Губанов Алексей!! <a href="http://slavonicpro.ru">Slavonic</a></p>
	</footer>
	
</div>
<!-- /#pagewrap -->

</body>
</html>