<!doctype html>
<html lang="ru">
<head>
<meta charset="utf-8">
{% load static %}
<!-- disable iPhone inital scale -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Шляпа</title>
<!-- main css -->
<link href="{% static 'hat/style.css' %}"  rel="stylesheet" type="text/css">
<!-- media queries css -->
<link href="{% static 'hat/media-queries.css' %}"  rel="stylesheet" type="text/css">
</head>
<body>
<div id="pagewrap">
	<header id="header">
		<hgroup>
    <h1>Игра {{ game.id }}</h1>
    <h2>Выбери себя</h2>
		</hgroup>
	</header>	

	<div id="content">
		<article class="post clearfix">
			<header>
			</header>
			<figure class="post-image"> 
			</figure>			

{% if game.player_set.count %}
  <ul>
  {% for player in game.player_set.all %}
      <li><a href="{% url 'hat:setlogin' game.id player.id %}">{{ player.name }}</a></li>
  {% endfor %}
  </ul>
{% else %}
  <p>Нет игроков.</p>
{% endif %}

		</article>
	</div>
	<!-- /#content --> 
	<footer id="footer">
		<p>Здесь был <a href="mailto:gubanov-alexey@yandex.ru?subject=Вопрос по игре Шляпа">Губанов Алексей</a>!! <a href="http://slavonicpro.ru">Slavonic</a></p>
	</footer>
	
</div>
<!-- /#pagewrap -->

</body>
</html>