<!doctype html>
<html lang="ru">
<head>
<meta charset="utf-8">
{% load static %}
<!-- disable iPhone inital scale -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Шляпа</title>
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script type="text/javascript" src="{% static 'hat/hat.js' %}"></script>
<!-- main css -->
<link href="{% static 'hat/style.css' %}"  rel="stylesheet" type="text/css">
<!-- media queries css -->
<link href="{% static 'hat/media-queries.css' %}"  rel="stylesheet" type="text/css">
<link rel="shortcut icon" href="{%  static 'hat/favicon.ico' %}">
</head>
<body>
<div id="pagewrap">
	<header id="header">
		<hgroup>
    <h1>Новая шляпа</h1>
		<h2>Введите игроков</h2>
		</hgroup>
	</header>	

	<div id="content">
		<article class="post clearfix">
			<header>
			</header>
			<figure class="post-image"> 
      <!-- <img src="{%  static 'hat/hat.png' %}">--> 
			</figure>			

<form action="{% url 'hat:create' %}" method="post">
{% csrf_token %}
  По <input type="text" name="wordsnum" id="wordsnum" value="5" size="2pt"> слов с игрока.
  <p>По <input type="text" name="seconds" id="seconds" value="60" size="2pt"> секунд на ход.
  <p>Игроков одной команды вводите через '+'. Каждую команду вводите с новой строки.
  <p>
<textarea rows="8" name="players" id="players"></textarea>
  <p>
<button type="submit" name="action" value="start">Начать игру</button>
</form>
  <p>Пример:
  <p>Федя+Петя<br>Маша+Зоя

		</article>
	</div>
	<!-- /#content --> 
	<footer id="footer">
		<p>Здесь был Губанов Алексей!! <a href="http://slavonicpro.ru">Slavonic</a></p>
	</footer>
	
</div>
<!-- /#pagewrap -->

</body>
</html>