<!doctype html>
<html lang="ru">
<head>
<meta charset="utf-8">
{% load static %}
<!-- disable iPhone inital scale -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Ассоциация [{{ player.name }}]</title>
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script type="text/javascript" src="{% static 'assoc/assoc.js' %}"></script>
<!-- main css -->
<link href="{% static 'assoc/style.css' %}"  rel="stylesheet" type="text/css">
<!-- media queries css -->
<link href="{% static 'assoc/media-queries.css' %}"  rel="stylesheet" type="text/css">
</head>
<body>
<script>
  var game_state = {{ game.state }};
  var turn_number = {{ game.turn_number }};
  var grades = {{ game.cur_player.grades }};
{% if game.state == 1 %}
  $("body").css("background-color", "#003333");//зеленый
{% endif %}
{% if game.state == 2 %}
  $("body").css("background-color", "#4d0424");//фиолет
{% endif %}
{% if game.state == 3 %}
  $("body").css("background-color", "#660000");//красный
{% endif %}
{% if game.state > 3 %}
  $("body").css("background-color", "#663300");//коричневый
{% endif %}
</script>

<div id="pagewrap">
	<header id="header">
		<hgroup>
			<h1>Ассоциация №{{ game.id }} (я {{ player.name }})</h1>
      Объясняет <span id="cur_player">{{ game.cur_player.name }}</span></h2>
		</hgroup>
  </header>	

	<div id="content">
		<article class="post clearfix">
			<header>
			</header>
			<figure class="post-image"> 
			</figure>			

{% if word %}
  <div id="word"><span>{{ word }}</span></div>
{% endif %}
      
{% if player.HasTurn %}
<form id="form" action="{% url 'assoc:push' game.id %}" method="post">
  {% csrf_token %}
    <button type="submit" id="action" name="action" value="match">Угадал</button>
{% endif %}

{% if game.player_set.count %}
    <table id='result'>
    <tr><th>Команда</th><th>Очки</th></tr>
    {% for command in commands_list %}
        <tr><td>{{ command.0 }} + {{ command.1 }}</td><td>{{ command.2 }}</td></tr>
    {% endfor %}
    </table>
{% else %}
    <p>Нет игроков.</p>
{% endif %}

{% if player.HasTurn %}
<button type="submit" name="action" value="mismatch">Не угадал</button>
</form>
{% endif %}

		</article>

 <div id="continue">Пауза
 <button type="button"  onclick="location.href='{% url 'assoc:game' game.id %}';">Продолжить</button>
 </div>
    
	</div>
	<!-- /#content --> 
  
	<footer id="footer">
		<p>Здесь был <a href="mailto:gubanov-alexey@yandex.ru?subject=Вопрос по игре">Губанов Алексей</a>!! <a href="http://slavonicpro.ru">Slavonic</a></p>
	</footer>
	
</div>
<!-- /#pagewrap -->

</body>
</html>