<!doctype html>
<html lang="ru">
<head>
<meta charset="utf-8">
{% load static %}
<!-- disable iPhone inital scale -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Ассоциация</title>
<!-- main css -->
<link href="{% static 'assoc/style.css' %}"  rel="stylesheet" type="text/css">
<!-- media queries css -->
<link href="{% static 'assoc/media-queries.css' %}"  rel="stylesheet" type="text/css">
</head>
<body>
<script>
</script>

<div id="pagewrap">
	<header id="header">
		<hgroup>
			<h1>Ассоциация №{{ game.id }}</h1>
			<h2>История игры</h2>
		</hgroup>
  </header>	

	<div id="content">
		<article class="post clearfix">
			<header>
			</header>
			<figure class="post-image"> 
			</figure>			

{% if history.count %}
    <table id='result'>
    <tr><th>№</th><th>Раунд</th><th>Игрок</th><th>Слово</th></tr>
    {% for item in history %}
        <tr><td>{{ forloop.counter }}</td><td>{{ item.state }}</td><td>{{ item.player.name }}</td><td>{{ item.word.word }}</td></tr>
    {% endfor %}
    </table>
{% endif %}

		</article>
    
 <button type="button" onclick="location.href='{% url 'assoc:new' %}';">Сыграть еще раз</button>

	</div>
	<!-- /#content --> 
	
	<footer id="footer">
		<p>Здесь был <a href="mailto:gubanov-alexey@yandex.ru?subject=Вопрос по игре">Губанов Алексей</a>!! <a href="http://slavonicpro.ru">Slavonic</a></p>
	</footer>
	
</div>
<!-- /#pagewrap -->

</body>
</html>